{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1" text-center>Recetas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fugit beatae soluta, mollitia ut in id doloribus consectetur at omnis distinctio nesciunt voluptatum perferendis corrupti quaerat officia tempore perspiciatis porro!</p>
   

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            signin
        </a>
        <a class="btn btn-primary" href="/signup/">
            signup
        </a>
    </div>
    </section>
</main>
{% endblock %}
